<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dev.electronsbaseball.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>cb24fea6-5eaf-6fd6-ff8a-6741bc936fa1</ProjectGuid>
    <MSDeployServiceURL>https://dev.electronsbaseball.com:8172/msdeploy.axd?site=dev.electronsbaseball.com</MSDeployServiceURL>
    <DeployIisAppPath>dev.electronsbaseball.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>electron88</UserName>
    <_SavePWD>false</_SavePWD>
    <ExcludeFilesFromDeployment>web.config</ExcludeFilesFromDeployment>
    <IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled>
    <PublishIISAssets>false</PublishIISAssets>
  </PropertyGroup>
</Project>