<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RegistryUrl>docker.io</RegistryUrl>
    <ContainerRepository>sschus90/electronsnet8</ContainerRepository>
    <UserName>sschus90</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>cb24fea6-5eaf-6fd6-ff8a-6741bc936fa1</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>    
  </PropertyGroup>
</Project>